<div class="wrapper_dashboard">
    <div class="col-md-4 col-sm-12 profile">
      <h2>
      <img src="/assets/avatar2.png" alt="delegate-logo" width="60">
      <%= @profile %>
      </h2>
      <h3>Casas</h3>
      <ul>
        <li>casa1</li>
        <li>casa2</li>
        <li>casa3</li>
      </ul>
      <h3>Amiguinhos</h3>
      <ul>
        <li>amigo1</li>
        <li>amigo2</li>
        <li>amigo3</li>
      </ul>
    </div>

    <div class="col-md-4 col-sm-12 todo">
      <h2>To Do</h2>
      <h3>Amiguinhos</h3>
      <ul>
        <li>lixo</li>
        <li>lixo2</li>
        <li>lixo3</li>
      </ul>
    </div>

    <div class="col-md-4 col-sm-12 tasks">
      <h2>Task's</h2>
      <ul>

      </ul>
    </div>

</div>
