<div class="home">

  <div class="wrapper">

    <div class="menu">
      <img src="/assets/logocompleto.svg" alt="delegate-logo" width="300px">

      <h3 class="index">Sign in with</h3>

      <div class="login-menu">
      	<a class="btn btn-facebook" href="/dashboard"><i class="fab fa-facebook-square"></i>  Facebook</a><br>
      	<a class="btn btn-google-plus" href="/dashboard"><i class="fab fa-google-plus-g"></i>  Google+</a><br>
      	<a class="btn btn-twitter" href="/dashboard"><i class="fab fa-twitter"></i>  Twitter</a>
      </div>
    </div>

  </div>

</div>
