<div class="login">
  <img src="/assets/logo.png" alt="delegate-logo" width="300px">

  <br>

  <a class="login-button" href="#"><i class="fa fa-google-plus"></i>Facebook</a>
  <a class="login-button" href="#"><i class="fa fa-google-plus"></i>Google+</a>
  <a class="login-button" href="#"><i class="fa fa-google-plus"></i>Twitter</a>
</div>
