<div class="home">
  <img src="/assets/logo.png" alt="delegate-logo" width="300px">

  <a class="button" href="#">
    <div class="login">
      <i class="fa fa-google-plus"></i>Facebook
    </div>
  </a>

  <a class="button" href="#">
    <div class="login">
      <i class="fa fa-google-plus"></i> Google+
    </div>
  </a>

  <a class="button" href="#">
    <div class="login">
      <i class="fa fa-google-plus"></i> Twitter
    </div>
  </a>

</div>
