@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "font-awesome-sprockets";
@import "font-awesome";

.wrapper_dashboard {
  text-align: center;
  width: 100%;
  margin: 10px auto;
}

.todo {
  li {
    list-style-type: none;
    text-align: left;
    padding: 10px;
    font-size: 20px;
  }
}

.profile {
  li {
    list-style-type: none;
    text-align: left;
    padding: 10px;
    font-size: 20px;
  }
}

.tasks {
  li {
    list-style-type: none;
    text-align: left;
    padding: 10px;
    font-size: 20px;
  }
}

.vl {
    border-left: 6px solid $accent-color;
    height: 98vh;
}
